
.dimension{
  --button_font:20px;
  --button_border: 2px;
  --button_radius: 25px;
  --button_padding: 5px;

  --navigate_menu_width: 150px;
  --navigate_menu_height: 100%;
  --navigate_button_height: 20px;

  --publication_item_h: 140px;
}

.light {
  //--primary_color: #535152;
  --primary_color: #27282c;
  --secondary_color_A: #2E282D;
  --secondary_color_B: #333830;
  --additional_color: #8F663F;

  --primary_text: #ffffff;
  --secondary_text:#a9a9ab;

  --action_component: #535152;
  --action_component_hover: #535152;
  --action_component_disable: #535152;

  --action_component_content: #535152;
  --action_component_content_hover: white;
  --action_component_content_disable: #535152;
}
