.text-button {
    border: 0;
    border-radius: 0;
    outline: 0;
    font-family: "Segoe UI";
    font-size: 2.5vh;
    background-color: #313131;
    color: #ffffff;
}

.image-button {
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}