.text-button {
    border: 0;
    border-radius: 0;
    outline: 0;
    font-family: "Segoe UI";
    font-size: 2.5vh;
    background-color: transparent;

    transition: color 0.5s;

    color: var(--secondary_text);
    &:hover {
        color: var(--primary_text);
    }
}

.image-button {
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}