@import "variable";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #343A40;
    margin: 1px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #747474;
}