.card {
  padding: 10px
}

.title {
  color: #ffffff;
  font-family: "Segoe UI";
  //font-size: 10vh;
  font-size: calc(max(38.75px, min(10vh, 5vw)));
  font-weight: 600;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.desc {
  color: #ffffff;
  font-family: "Segoe UI";
}

.link {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: calc(max(25px, min(5vh, 2vw)));
  font-weight: 600;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
