.card {
  padding: 10px
}

.title {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: calc(max(25px, min(6vh, 2vw)));
  letter-spacing: .1em;
  font-weight: 500;
  text-align: center;
  justify-items: center;
  justify-content: center;
}

.desc {
  color: #ffffff;
  font-family: "Segoe UI";
}

.link {
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: calc(max(25px, min(5vh, 2vw)));
  font-weight: 600;
  text-align: center;
  justify-items: center;
  justify-content: center;
}
